<div class="card column" [ngClass]="isGridViewRequested ? 'card-height float-left' : 'background-color'">
  <img class="card-image"
    src="https://www.w3schools.com/howto/img_avatar.png"
    alt="Avatar"
    [ngClass]="isGridViewRequested ? '' : 'display-none'"
  />
  <div class="container" [ngClass]="isGridViewRequested ? '' : 'list-view-margin'">
    <p>Architect & Engineer: {{isGridViewRequested}}</p>
  </div>
</div>
