.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    text-align: center;
    
  }
  .card-height{
    height: 400px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .column {
    width: 30%;
    padding: 0 14px;
  }
  .float-left{
    float: left;
  }
  .card-image{
    width: 100%;
  }
  .display-none{
    display: none;
  }

  .background-color{
    background-color: #b5db2b;
    border-radius: 10px;
  }
  .list-view-margin{
    margin: 11px 0;
  }
