<div>

    <p>Is Gallery view : {{isGridViewRequested}}</p>
    <div class="row" >
        
        <app-item-card [isGridViewRequested]="isGridViewRequested"></app-item-card>
        <app-item-card [isGridViewRequested]="isGridViewRequested"></app-item-card>
        <app-item-card [isGridViewRequested]="isGridViewRequested"></app-item-card>
        
    </div>
</div>