.navigation {
  list-style-type: none;
  margin: 0;
  padding: 24px;
  overflow: hidden;
  background-color: #b5db2b;
  position: -webkit-sticky; /* Safari */
  /* position: sticky; */
  top: 0;
  height: 4rem;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}
.nav-right-section{
    height: 100%;
    text-align: center;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.nav-left-section{
    width: 30%;
}
.nav-btn {
  border-radius: 4px;
  color: rgb(255, 254, 254)!important;
  padding: 10px 20px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  display: inline;
  margin: 0 10px;
}
.btn-dark-green {
  background-color: #7aaa09;
}
.icon-list{
    background-image: url('/assets/baseline_list_white_18dp.png');
}
.icon-gallery{
    background-image: url('/assets/baseline_apps_white_18dp.png');
}

.icon-restaurant{
    background-image: url('/assets/baseline_restaurant_white_18dp.png');
}
.nav-logo-text{
    color: rgb(255, 254, 254)!important;
    font-size: 40px;
}
.icon-restaurant-2{
    background-image: url('/assets/baseline_restaurant_white_18dp.png');
}
