<div class="navigation">
  <div class="nav-left-section float-left">
    <span class="icon-restaurant"></span>
    <span class="nav-logo-text">recipe box</span>
    <span class="icon-restaurant-2"></span>
  </div>
  <div class="nav-right-section float-right">
    <span
      class="nav-btn btn-dark-green"
      (click)="clickEvent()"
      [ngClass]="isGridViewRequested ? 'icon-list' : 'icon-gallery'"
    >
    </span>
    <app-button-click-modal></app-button-click-modal>
  </div>
</div>
