.nav-btn {
    border-radius: 4px;
    color: rgb(255, 254, 254)!important;
    padding: 10px 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline;
    margin: 0 10px;
  }
  .btn-dark-green {
    background-color: #7aaa09;
  }